.advantage__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.advantege__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.advantage__item {
  flex-basis: 290px;
  min-height: 61px;
  font-size: 14px;
  line-height: 140%;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 61px;
  padding: 10px 10px 10px 81px;
}

/* применение тени и изменения цвета при наведении на текст*/
.advantage__item_steck:hover {
  color: #e87c40; /* Меняем цвет текста */
  -webkit-text-shadow: 2px 2px 2px #000;
  -moz-text-shadow: 2px 2px 2px #000;
  text-shadow: 1px -2px 2px rgb(7, 7, 6); /* смещение-x | смещение-y | радиус-размытия | цвет */
}

h2.advantage__title {
  /* color: #5a5a5a; Цвет заголовка */
  text-align: center; /* Текст по центру */
}
/*  CSS код для линии над заголовком */
h2.advantage__title:before {
  content: "";
  display: block;
  height: 1px; /* Высота линии */
  background: #f66d52; /* Цвет линии */
  width: 150px; /* Ширина линии до наведения */
  margin: 0 auto 10px; /* Отступ с боков по центру и снизу */
  transition: 2s; /* Время, за которое линия возвращается после наведения */
}

h2.advantage__title:hover:before {
  width: 260px; /* Ширина линии при наведении */
  transition: ease-out 1s; /* Время, за которое линия расширяется при наведении */
}

/*  CSS код для линии под заголовком */
h2.advantage__title:after {
  content: "";
  display: block;
  height: 1px; /* Высота линии */
  background: #f66d52; /* Цвет линии */
  width: 150px; /* Ширина линии до наведения */
  margin: 10px auto 0; /* Отступ с боков по центру и сверху */
  transition: 2s; /* Время, за которое линия возвращается после наведения */
}

h2.advantage__title:hover:after {
  width: 260px; /* Ширина линии при наведении */
  transition: ease-out 1s; /* Время, за которое линия расширяется при наведении */
}

.advantage__item_steck {
  background-image: url("../img/steck.svg");
}

.advantage__item_mockup {
  background-image: url("../img/mockup.svg");
}

.advantage__item_inclusive {
  background-image: url("../img/inclusive.svg");
}

.advantage__item_adapt {
  background-image: url("../img/adapt.svg");
}

.advantage__item_clear {
  background-image: url("../img/clear.svg");
}

.advantage__item_copiright {
  background-image: url("../img/copiright.svg");
}

@media (min-width: 480px) {
  .advantege__list {
    gap: 40px;
  }

  .advantage__title {
    font-style: 40px;
  }

  .advantage__item {
    font-style: 16px;
  }
}

@media (min-width: 768px) {
  .advantage__title {
    margin-bottom: 50px;
  }

  .advantege__list {
    justify-content: space-beetween;
    gap: 80px;
  }

  .advantage__item_steck {
  }

  .advantage__item_mockup {
    order: 2;
  }

  .advantage__item_inclusive {
    order: 4;
  }

  .advantage__item_adapt {
    order: 1;
  }

  .advantage__item_clear {
    order: 3;
  }

  .advantage__item_copiright {
    order: 5;
  }
}

@media (min-width: 1440px) {
  .advantage__title {
    font-size: 50px;
    margin-bottom: 80px;
  }

  .advantege__list {
    justify-content: space-beetween;
    gap: 100px;
  }

  .advantage__item {
    font-style: 18px;
  }
}
